#
# The Continous Deployment workflow
#
# This workflow is trigged in a push to main (after a PR)
# and initiates the build and release process.
#
# We automatically deploy to the development environment,
# then, after approvals enforced by GitHub Environment Approvals
# we move to QA and then onto production environments.
#

name: Build and Release

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ 'main' ]

  # Allows you to run this workflow manually from the Actions tab
  #workflow_dispatch:

jobs:
  # Do a build of the application, and publish the artifacts
  build:
    name: Build Functions
    runs-on: ubuntu-latest

    steps:
      # NOTE: we must checkout first becasue we need access to
      #       the build actions in the repository
      #
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Use the common build action that is also used for PRs in a
      # different workflow
      - uses: ./.github/actions/build

      # Publish build Artifacts
      - name: Publish Artifacts
        run: echo Publishing Artifacts...

  # After build, we deploy directly into the development environment
  deploy-dev:
    name: Deploy to dev
    runs-on: ubuntu-latest
    environment: dev
    needs: ['build']
    steps:
      # NOTE: we must checkout first becasue we need access to
      #       the build actions in the repository
      - uses: actions/checkout@v2

      # Run the deployment action, passing in the required secrets
      # from the environment
      - uses: ./.github/actions/deploy
        with:
          token: ${{ secrets.REPO_SECRET_1 }}
          config: ${{ secrets.ENV_SECRET }}


  # After deploying to dev, the test environment is next, however that
  # required approval to proceed
  deploy-qa:
    name: Deploy to QA
    runs-on: ubuntu-latest
    environment: test
    needs: ['deploy-dev']
    steps:
      # NOTE: we must checkout first becasue we need access to
      #       the build actions in the repository
      - uses: actions/checkout@v2

      # Run the deployment action, passing in the required secrets
      # from the environment
      - uses: ./.github/actions/deploy
        with:
          token: ${{ secrets.REPO_SECRET_1 }}
          config: ${{ secrets.ENV_SECRET }}

  # Once we are happy with the build in the QA environment, we can deploy to
  # the production environments. Again, approval will be required.
  #
  # This is done as a matrix deployment, but we could equally do this
  # as individual jobs. In any case, we will need to update the workflow
  # file for any new or removed environments.
  production-deploy:
    strategy:
      matrix:
        # list production environments here
        environment: ['prd-customer1', 'prd-customer2']
    name: Deploy to ${{ matrix.environment }} Environment
    runs-on: ubuntu-latest
    environment: ${{ matrix.environment }}
    needs: ['deploy-qa']
    steps:
      # NOTE: we must checkout first becasue we need access to
      #       the build actions in the repository
      - uses: actions/checkout@v2

      # Run the deployment action, passing in the required secrets
      # from the environment
      - uses: ./.github/actions/deploy
        with:
          token: ${{ secrets.REPO_SECRET_1 }}
          config: ${{ secrets.ENV_SECRET }}

